<!doctype html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta name="format-detection" content="telephone=no" />

  <link href="/static/fonts/fonts.css" type="text/css" rel="stylesheet">
  <link href="/static/style.css" type="text/css" rel="stylesheet">

  <title>Creat New Account - TrustMe Shop</title>

</head>

<body class="sa_body">

  <div class="sa_outer-container">

    <!--header-wrap-->
    <div class="sa_header-wrap">
      <div class="sa_wrapper clearfix">

        <!--logo-->
        <div class="sa_logo"><a href="/"><img src="/static/images/logo-shop.svg" alt="" id="shop-logo"></a></div>
        <!--logo-->

        <!--mobile-nav-->
        <div class="sa_mobile-nav">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!--mobile-nav-->

        <div class="sa_header-main">

          <!--header-right-->
          <div class="sa_header-right">
            <!--header-nav-->
            <div class="sa_header-nav">
              <ul>
                <li><a href="">Women</a></li>
                <li><a href="">Men</a></li>
                <li><a href="">Kids</a></li>
              </ul>
            </div>
            <!--header-nav-->

            <a href="login" class="sa_cta-btn sa_small" id="login-btn" data-t-login-btn>Login</a>

            <div class="sa_header-tool" style="display:none;">
              <a href=""><img src="/static/images/top-icon1.svg" alt=""></a>
              <a href=""><img src="/static/images/top-icon2.svg" alt=""></a>
              <a href=""><img src="/static/images/top-icon3.svg" alt=""></a>
            </div>
          </div>
          <!--header-right-->

          <!--search-box-->
          <div class="sa_search-box">
            <form action="search" method="post">
              <input type="text" onfocus="this.placeholder=''" placeholder="Search for item, brand, inspiration…">
              <button type="submit"><img src="/static/images/search.svg" alt=""></button>
            </form>
          </div>
          <!--search-box-->

        </div>

      </div>
    </div>
    <!--header-wrap-->

    <!--container-wrap-->
    <section class="sa_container-wrap sa_blue-head">
      <div class="sa_wrapper clearfix">

        <div class="sa_section-title">
          <h1>Open a New Account</h1>
          <span>Welcome. Register in just minutes.</span>
        </div>

        <!--section-account-details-->
        <div class="sa_section-account-details">
          <form action="register" method="post">
            <div class="sa_input-container">
              <div class="sa_account-details-box">
                <div class="sa_account-box-head">
                  <strong>PERSONAL INFORMATION</strong>

                </div>

                <div class="sa_formRow">
                  <label>First Name</label>
                  <input name="firstname" type="text" placeholder="First Name" value="" onfocus="this.placeholder = ''">
                  <div class="sa_inputLine"></div>
                </div>

                <div class="sa_formRow">
                  <label>Last Name</label>
                  <input name="surname" type="text" placeholder="Last Name" value="" onfocus="this.placeholder = ''">
                  <div class="sa_inputLine"></div>
                </div>

              </div>

              <div class="sa_account-details-box">
                <div class="sa_account-box-head">
                  <strong>CONTACT INFORMATION</strong>

                </div>

                <div class="sa_formRow">
                  <label>Email</label>
                  <input name="email" type="email" placeholder="Email" value="" onfocus="this.placeholder = ''">
                  <div class="sa_inputLine"></div>
                </div>

              </div>

              <div class="sa_account-details-box">
                <div class="sa_account-box-head">
                  <strong>DATA CONSENT</strong>

                </div>

                <div class="sa_formRow-container clearfix">

                  <input checked name="sendpw" type="checkbox" id="sendpw">
                  <label for="sendpw">I agree for this e-mail address to be used to send me an initial account password.</label>
                </div>

              <div class="sa_formRow-container clearfix">

                <input name="sendmarketing" type="checkbox" id="sendmarketing">
                <label for="sendmarketing">I would like to receive marketing information to this e-mail address.</label>
              </div>

            </div>


              <div>{{errorMsg}}</div>
              <input id="createSubmit" type="submit" class="sa_cta-btn sa_large-center" value="Create an Account">

          </form>
        </div>
        <!--section-account-details-->


      </div>
    </section>
    <!--container-wrap-->


    <!--footer-wrap-->
    <div class="sa_footer-wrap">
      <div class="sa_wrapper clearfix">

        <!--footer-widget-->
        <div class="sa_footer-widget">
          <h6>HELP & INFORMATION</h6>
          <ul>
            <li><a href="">Help</a></li>
            <li><a href="">Track Order</a></li>
            <li><a href="">Delivery & Returns</a></li>
            <li><a href="">10% Student Discount</a></li>
          </ul>
        </div>
        <!--footer-widget-->

        <!--footer-widget-->
        <div class="sa_footer-widget">
          <h6>MORE FROM US</h6>
          <ul>
            <li><a href="">Gift vouchers</a></li>
            <li><a href="">Mobile Apps</a></li>
            <li><a href="">Our Marketplace</a></li>
          </ul>
        </div>
        <!--footer-widget-->



        <!--footer-widget-->
        <div class="sa_footer-widget">
          <h6>SHOPPING FROM</h6>
          <form action="search" method="post">

            <!--shop-location-->
            <div class="sa_shop-location">
              <label>You're in</label>
              <select>
                <option>Israel</option>
                <option>Brazil</option>
                <option>Chile</option>
              </select>
            </div>
            <!--shop-location-->

            <!--search-box-->
            <div class="sa_search-box">
              <input type="text" onfocus="this.placeholder=''" placeholder="Search…">
              <button type="submit"><img src="/static/images/search.svg" alt=""></button>
            </div>
            <!--search-box-->
          </form>
        </div>
        <!--footer-widget-->

      </div>
    </div>
    <!--footer-wrap-->

  </div>

  <script src="/static/js/ajax.jquery.224.js"></script>
  <script src="/static/js/init.js"></script>

</body>

</html>
