<!doctype html>
<html>

<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, maximum-scale=1">
	<meta name="format-detection" content="telephone=no" />

	<link href="/static/fonts/fonts.css" type="text/css" rel="stylesheet">
	<link href="/static/style.css" type="text/css" rel="stylesheet">
	<script src="/static/js/fido2.js"></script>
	<script>tmglobals = {}</script>

	<title>Login - TrustMe Store</title>

</head>

<body class="sa_body">

	<div class="sa_outer-container">

		<!--outer-wrap-->
		<div class="sa_outer-wrap">
			<div class="sa_login-container">



				<!--logo-->
				<div class="sa_logo"><a href="/"><img src="/static/images/logo-shop.svg" alt="" id="shop-logo" data-t-ecommerce-logo></a></div>
				<!--logo-->

				<h2>Please complete FIDO2 Authentication</h2>
				<br/>
				<br/>

					<div class="sa_formRow-container clearfix">
						<div class="sa_formRow-col"> <a href="/mfa">Choose another method</a> </div>
					</div>

					<div class="sa_formRow-container clearfix">
						<button onclick="fidoAuthenticate()" id="createSubmit" class="sa_cta-btn">Authenticate</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--outer-wrap-->

	</div>

	<script src="/static/js/ajax.jquery.224.js"></script>
	<script src="/static/js/init.js"></script>

</body>

</html>
