<!doctype html>
<html>

<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, maximum-scale=1">
	<meta name="format-detection" content="telephone=no" />

	<link href="/static/fonts/fonts.css" type="text/css" rel="stylesheet">
	<link href="/static/style.css" type="text/css" rel="stylesheet">

	<title>Login - TrustMe Store</title>

</head>

<body class="sa_body">

	<div class="sa_outer-container">

		<!--outer-wrap-->
		<div class="sa_outer-wrap">
			<div class="sa_login-container">



				<!--logo-->
				<div class="sa_logo"><a href="/"><img src="/static/images/logo-shop.svg" alt="" id="shop-logo" data-t-ecommerce-logo></a></div>
				<!--logo-->

				<h2>Select a strong<br> authentication method</h2>

				<form action="mfa" method="post">
					{{#each factors}}
					<div class="sa_formRow-radio">
							<input type="radio" id="{{this.id}}" name="factorid" value="{{this.id}}">
							<label for="{{this.id}}">{{this.label}}</label><br>
					</div>
					{{/each}}

					<div class="sa_formRow_bottom">
						<button type="submit" data-t-submit-login-btn>Select</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--outer-wrap-->

	</div>

	<script src="/static/js/ajax.jquery.224.js"></script>
	<script src="/static/js/init.js"></script>

</body>

</html>
