<!doctype html>
<html>

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, maximum-scale=1">
  <meta name="format-detection" content="telephone=no" />

  <link href="/static/fonts/fonts.css" type="text/css" rel="stylesheet">
  <link href="/static/style.css" type="text/css" rel="stylesheet">
  <script src="/static/js/fido2.js"></script>

  <title>FIDO2 Registration - TrustMe Store</title>

</head>

<body class="sa_body">

  <div class="sa_outer-container">

    <!--header-wrap-->
    <div class="sa_header-wrap">
      <div class="sa_wrapper clearfix">

        <!--logo-->
        <div class="sa_logo"><a href="/"><img src="/static/images/logo-shop.svg" alt="" id="shop-logo" data-t-ecommerce-logo></a></div>
        <!--logo-->

        <!--mobile-nav-->
        <div class="sa_mobile-nav">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!--mobile-nav-->

        <div class="sa_header-main">

          <!--header-right-->
          <div class="sa_header-right">
            <!--header-nav-->
            <div class="sa_header-nav">
              <ul>
                <li><a href="">Women</a></li>
                <li><a href="">Men</a></li>
                <li><a href="">Kids</a></li>
              </ul>
            </div>
            <!--header-nav-->

            <div class="sa_header-tool">
              <a href="../myaccount"><img src="/static/images/top-icon1.svg" alt="profile"></a>
              <a href="../cart"><img src="/static/images/top-icon3.svg" alt="cart"></a>
              <a href="../logout"><img src="/static/images/logout.svg" alt="logout"></a>
            </div>
          </div>
          <!--header-right-->

          <!--search-box-->
          <div class="sa_search-box">
            <form action="search" method="post">
              <input type="text" onfocus="this.placeholder=''" placeholder="Search for item, brand, inspiration…">
              <button type="submit"><img src="/static/images/search.svg" alt=""></button>
            </form>
          </div>
          <!--search-box-->

        </div>

      </div>
    </div>
    <!--header-wrap-->

    <!--container-wrap-->
    <section class="sa_container-wrap sa_blue-head">
      <div class="sa_wrapper clearfix">

        <div class="sa_section-title">
          <h1>Improve your account security</h1>
          <span>Register for passwordless authentication with FIDO2.</span>
        </div>

        <!--section-account-details-->
        <div class="sa_section-account-details">
          <div>
            <button onclick="fidoRegister()" id="register-button" class="sa_cta-btn sa_large-center">Start Registration</button>
          </div>
          <div id="name-input" class="sa_formRow" style="display: none;">
            <label>Authenticator name</label>
            <input name="authName" id="authName" class="sy-input--text-username" type="text" value="My FIDO Authenticator" autocomplete="off">
            <div class="inputLine"></div>
          </div>
          <div>
            <button style="display: none;" onclick="handleCreateResult()" id="name-button" class="sa_cta-btn sa_large-center">Register Authenticator</button>
          </div>
        </div>
        <!--section-account-details-->


      </div>
    </section>
    <!--container-wrap-->


    <!--footer-wrap-->
    <div class="sa_footer-wrap">
      <div class="sa_wrapper clearfix">

        <!--footer-widget-->
        <div class="sa_footer-widget">
          <h6>HELP & INFORMATION</h6>
          <ul>
            <li><a href="">Help</a></li>
            <li><a href="">Track Order</a></li>
            <li><a href="">Delivery & Returns</a></li>
            <li><a href="">10% Student Discount</a></li>
          </ul>
        </div>
        <!--footer-widget-->

        <!--footer-widget-->
        <div class="sa_footer-widget">
          <h6>MORE FROM US</h6>
          <ul>
            <li><a href="">Gift vouchers</a></li>
            <li><a href="">Mobile Apps</a></li>
            <li><a href="">Our Marketplace</a></li>
          </ul>
        </div>
        <!--footer-widget-->



        <!--footer-widget-->
        <div class="sa_footer-widget">
          <h6>SHOPPING FROM</h6>
          <form action="search" method="post">

            <!--shop-location-->
            <div class="sa_shop-location">
              <label>You're in</label>
              <select>
                <option>Israel</option>
                <option>Brazil</option>
                <option>Chile</option>
              </select>
            </div>
            <!--shop-location-->

            <!--search-box-->
            <div class="sa_search-box">
              <input type="text" onfocus="this.placeholder=''" placeholder="Search…">
              <button type="submit"><img src="/static/images/search.svg" alt=""></button>
            </div>
            <!--search-box-->
          </form>
        </div>
        <!--footer-widget-->

      </div>
    </div>
    <!--footer-wrap-->

  </div>

  <script src="/static/js/ajax.jquery.224.js"></script>
  <script src="/static/js/init.js"></script>

</body>

</html>
