<!doctype html>
<html>

<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, maximum-scale=1">
	<meta name="format-detection" content="telephone=no" />

	<link href="/static/fonts/fonts.css" type="text/css" rel="stylesheet">
	<link href="/static/style.css" type="text/css" rel="stylesheet">

	<title>Change Password</title>

</head>

<body class="sa_body">

	<div class="sa_outer-container">

		<!--outer-wrap-->
		<div class="sa_outer-wrap">
			<div class="sa_login-container">



				<!--logo-->
				<div class="sa_logo"><a href="/"><img src="/static/images/logo-shop.svg" alt="" id="shop-logo" data-t-ecommerce-logo></a></div>
				<!--logo-->

				<h1>Change Password</h1>
				<p>You must choose a new password for you account.</p>

				<form action="/login/newpwd" method="post">
					<div class="sa_formRow">

					<div class="sa_formRow">
						<label>New Password</label>
						<input type="text" name="newpwd1" id="pw1" class="sy-input--text-password" placeholder="New Password" onFocus="this.placeholder = ''" >
						<div class="show-password active"></div>
						<div class="inputLine"></div>
					</div>

					<div class="sa_formRow">
						<label>Confirm New Password</label>
						<input type="text" name="newpwd2" id="pw2" class="sy-input--text-password" placeholder="Confirm New Password" onFocus="this.placeholder = ''" >
						<div class="show-password active"></div>
						<div class="inputLine"></div>
					</div>


					<div class="sa_formRow-container clearfix">
					</div>

					<div class="sa_formRow_bottom">
						<button id="createSubmit" disabled type="submit" data-t-submit-login-btn>Change Password</button>
				</form>
			</div>
		</div>
	</div>
	<!--outer-wrap-->

	</div>

	<script src="/static/js/ajax.jquery.224.js"></script>
	<script src="/static/js/init.js"></script>

</body>

</html>
